.n8n/workflows/development-pipeline.json
{
  "name": "jump-section: Development Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (5분마다)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/bae080311/jump-section/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "ai-implement"
            },
            {
              "name": "state",
              "value": "open"
            },
            {
              "name": "per_page",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "get-labeled-issues",
      "name": "GitHub: ai-implement 이슈 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const issues = $input.all().map(i => i.json);\n\n// ai-implementing 라벨이 있어도 PR이 없으면 재처리 (중단된 파이프라인 재개)\nconst pending = issues.filter(issue => {\n  const labelNames = (issue.labels || []).map(l => l.name);\n  // PR이 연결된 이슈는 이미 완료된 것 → 건너뜀\n  // ai-implementing만 있고 PR 없음 → 중단된 것 → 재처리\n  // ai-implementing 없음 → 새 이슈 → 처리\n  const hasPrLabel = labelNames.includes('ai-pr-created');\n  return !hasPrLabel;\n});\n\nif (pending.length === 0) {\n  return [{ json: { hasIssue: false } }];\n}\nconst issue = pending[0];\nreturn [{\n  json: {\n    hasIssue: true,\n    issueNumber: issue.number,\n    issueTitle: issue.title,\n    issueBody: issue.body || '(설명 없음)',\n    issueUrl: issue.html_url,\n    repoOwner: 'bae080311',\n    repoName: 'jump-section'\n  }\n}]);"
      },
      "id": "extract-issue-info",
      "name": "Issue 정보 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-issue",
              "leftValue": "={{ $json.hasIssue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-has-issue",
      "name": "IF: 처리할 이슈 있는지 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/issues/{{ $('Issue 정보 추출').first().json.issueNumber }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"labels\": [\"ai-implementing\"] }",
        "options": {}
      },
      "id": "mark-implementing",
      "name": "GitHub: ai-implementing 라벨 추가",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/contents/packages/core/src/ScrollManager.ts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-scroll-manager",
      "name": "GitHub: ScrollManager.ts 읽기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/contents/packages/core/src/index.ts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-index-ts",
      "name": "GitHub: index.ts 읽기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const issueInfo = $('Issue 정보 추출').first().json;\nconst smFile = $('GitHub: ScrollManager.ts 읽기').first().json;\nconst indexFile = $('GitHub: index.ts 읽기').first().json;\n\nconst smContent = Buffer.from(smFile.content.replace(/\\n/g, ''), 'base64').toString('utf8');\nconst indexContent = Buffer.from(indexFile.content.replace(/\\n/g, ''), 'base64').toString('utf8');\n\n// 입력 크기 제한: 너무 크면 출력 토큰 부족으로 function call이 잘림\nconst smTruncated = smContent.length > 8000 ? smContent.slice(0, 8000) + '\\n// ... (truncated)' : smContent;\n\nconst userPrompt = `## Issue #${issueInfo.issueNumber}: ${issueInfo.issueTitle}\\n\\n${issueInfo.issueBody}\\n\\n---\\n\\n### packages/core/src/ScrollManager.ts\\n\\`\\`\\`typescript\\n${smTruncated}\\n\\`\\`\\`\\n\\n### packages/core/src/index.ts\\n\\`\\`\\`typescript\\n${indexContent}\\n\\`\\`\\`\\n\\nwrite_file 함수를 반드시 호출해 구현하세요. 테스트 파일도 포함하세요.`;\n\nconst geminiPayload = {\n  system_instruction: {\n    parts: [{ text: 'TypeScript 전문 개발자입니다. jump-section 라이브러리 신기능을 구현합니다.\\nPrettier(2sp, 세미콜론, 싱글쿼트, printWidth 100), strict 타입, Public API 하위 호환 유지.\\n반드시 write_file 함수만 사용해 결과를 제출하세요. 텍스트로 코드를 출력하지 마세요.' }]\n  },\n  contents: [{ role: 'user', parts: [{ text: userPrompt }] }],\n  tools: [{\n    functionDeclarations: [{\n      name: 'write_file',\n      description: '수정하거나 새로 생성할 파일의 전체 내용을 제출합니다.',\n      parameters: {\n        type: 'OBJECT',\n        properties: {\n          path: { type: 'STRING', description: '파일 경로' },\n          content: { type: 'STRING', description: '파일 전체 내용' },\n          description: { type: 'STRING', description: '변경 설명' }\n        },\n        required: ['path', 'content', 'description']\n      }\n    }]\n  }],\n  toolConfig: { functionCallingConfig: { mode: 'ANY', allowedFunctionNames: ['write_file'] } },\n  generationConfig: {\n    maxOutputTokens: 16384,\n    thinkingConfig: { thinkingBudget: 0 }\n  }\n};\n\nreturn [{\n  json: {\n    ...issueInfo,\n    scrollManagerSha: smFile.sha,\n    indexSha: indexFile.sha,\n    geminiPayload\n  }\n}];"
      },
      "id": "decode-files",
      "name": "파일 내용 디코딩",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "id": "gemini-implement",
      "name": "Gemini: 코드 구현",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst issueInfo = $('파일 내용 디코딩').first().json;\n\n// 응답 구조 검증\nif (!response.candidates || response.candidates.length === 0) {\n  throw new Error('Gemini candidates 없음. 전체 응답: ' + JSON.stringify(response).slice(0, 500));\n}\n\nconst candidate = response.candidates[0];\nconst finishReason = candidate.finishReason;\n\nif (!candidate.content) {\n  throw new Error(`Gemini content 없음. finishReason: ${finishReason}. 전체 응답: ` + JSON.stringify(candidate).slice(0, 500));\n}\n\nconst parts = candidate.content.parts;\nconst functionCalls = parts.filter(p => p.functionCall && p.functionCall.name === 'write_file');\nif (functionCalls.length === 0) {\n  const textParts = parts.filter(p => p.text).map(p => p.text).join(' ');\n  throw new Error(`write_file 함수 미사용. finishReason: ${finishReason}. 텍스트: ${textParts.slice(0, 300)}`);\n}\n\nconst files = functionCalls.map(p => ({\n  path: p.functionCall.args.path,\n  content: p.functionCall.args.content,\n  description: p.functionCall.args.description\n}));\n\nconst safeName = issueInfo.issueTitle\n  .toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40);\nconst branchName = `ai/issue-${issueInfo.issueNumber}-${safeName}`;\n\nreturn [{\n  json: {\n    files,\n    branchName,\n    issueNumber: issueInfo.issueNumber,\n    issueTitle: issueInfo.issueTitle,\n    issueUrl: issueInfo.issueUrl,\n    repoOwner: issueInfo.repoOwner,\n    repoName: issueInfo.repoName,\n    scrollManagerSha: issueInfo.scrollManagerSha,\n    indexSha: issueInfo.indexSha,\n    filesSummary: files.map(f => `• \\`${f.path}\\`: ${f.description}`).join('\\n')\n  }\n}];"
      },
      "id": "parse-tool-use",
      "name": "Tool Use 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/git/ref/heads/main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-main-sha",
      "name": "GitHub: main SHA 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Tool Use 결과 파싱').first().json.repoOwner }}/{{ $('Tool Use 결과 파싱').first().json.repoName }}/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"refs/heads/{{ $('Tool Use 결과 파싱').first().json.branchName }}\",\n  \"sha\": \"{{ $json.object.sha }}\"\n}",
        "options": {}
      },
      "id": "create-branch",
      "name": "GitHub: 브랜치 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Tool Use 결과 파싱').first().json;\nreturn data.files.map(file => {\n  // 제어 문자 제거 (줄바꿈, 탭 등이 JSON을 깨뜨림)\n  const desc = (file.description || '').replace(/[\\x00-\\x1F\\x7F]/g, ' ').trim().slice(0, 72);\n  const content = (file.content || '').replace(/\\r/g, '\\n');\n  return {\n    json: {\n      filePath: (file.path || '').trim(),\n      repoOwner: data.repoOwner,\n      repoName: data.repoName,\n      commitMessage: `feat: implement issue #${data.issueNumber} - ${desc}`,\n      commitContent: Buffer.from(content).toString('base64'),\n      commitBranch: data.branchName\n    }\n  };\n});"
      },
      "id": "split-files",
      "name": "파일 목록 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Tool Use 결과 파싱').first().json.repoOwner }}/{{ $('Tool Use 결과 파싱').first().json.repoName }}/pulls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[AI] feat: implement #{{ $('Tool Use 결과 파싱').first().json.issueNumber }} {{ $('Tool Use 결과 파싱').first().json.issueTitle }}\",\n  \"body\": \"## Summary\\n\\nCloses #{{ $('Tool Use 결과 파싱').first().json.issueNumber }}\\n\\nAI가 자동 생성한 구현 PR입니다. **반드시 사람이 리뷰 후 머지하세요.**\\n\\n## Files Changed\\n\\n{{ $('Tool Use 결과 파싱').first().json.filesSummary }}\\n\\n## Testing\\n\\n- [ ] pnpm test 통과 확인\\n- [ ] 새 테스트 케이스 검토\\n- [ ] 수동 테스트\\n\\n---\\n\\n🤖 Generated by jump-section AI Pipeline\",\n  \"head\": \"{{ $('Tool Use 결과 파싱').first().json.branchName }}\",\n  \"base\": \"main\",\n  \"draft\": true\n}",
        "options": {}
      },
      "id": "create-pr",
      "name": "GitHub: Draft PR 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [{\n    \"title\": \"🤖 AI PR 생성됨\",\n    \"description\": \"Issue [#{{ $('Tool Use 결과 파싱').first().json.issueNumber }}]({{ $('Tool Use 결과 파싱').first().json.issueUrl }}) 구현 완료\",\n    \"color\": 3066993,\n    \"fields\": [\n      { \"name\": \"PR\", \"value\": \"[{{ $json.title }}]({{ $json.html_url }})\", \"inline\": false },\n      { \"name\": \"브랜치\", \"value\": \"`{{ $('Tool Use 결과 파싱').first().json.branchName }}`\", \"inline\": true },\n      { \"name\": \"변경 내용\", \"value\": \"{{ $('Tool Use 결과 파싱').first().json.filesSummary }}\", \"inline\": false }\n    ],\n    \"footer\": { \"text\": \"jump-section AI Pipeline • Gemini • Draft PR\" },\n    \"timestamp\": \"{{ new Date().toISOString() }}\"\n  }]\n}",
        "options": {}
      },
      "id": "discord-dev",
      "name": "Discord: PR 생성 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"name\": \"ai-implementing\", \"color\": \"FBCA04\", \"description\": \"AI가 현재 처리 중인 이슈\" }",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "ensure-label",
      "name": "GitHub: ai-implementing 라벨 확인/생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/contents/{{ $json.filePath }}?ref={{ $json.commitBranch }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-file-sha",
      "name": "GitHub: 파일 SHA 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const getResp = $input.item.json;\nconst fileData = $('파일 목록 분리').item.json;\nconst sha = getResp.sha || null;\n\nconst bodyObj = {\n  message: fileData.commitMessage,\n  content: fileData.commitContent,\n  branch: fileData.commitBranch\n};\nif (sha) bodyObj.sha = sha;\n\n// JSON.stringify가 모든 제어 문자를 올바르게 이스케이프\nreturn [{\n  json: {\n    filePath: fileData.filePath,\n    repoOwner: fileData.repoOwner,\n    repoName: fileData.repoName,\n    hasSha: !!sha,\n    commitBodyJson: JSON.stringify(bodyObj)\n  }\n}];"
      },
      "id": "merge-sha",
      "name": "파일 SHA 병합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst fileData = $input.item.json;\n\nfunction httpsRequest(url, options, body) {\n  return new Promise((resolve, reject) => {\n    const u = new URL(url);\n    const req = https.request({\n      hostname: u.hostname,\n      path: u.pathname,\n      method: options.method,\n      headers: options.headers\n    }, res => {\n      let data = '';\n      res.on('data', c => data += c);\n      res.on('end', () => resolve({ status: res.statusCode, body: JSON.parse(data) }));\n    });\n    req.on('error', reject);\n    if (body) req.write(body);\n    req.end();\n  });\n}\n\nconst filePath = fileData.filePath.split('/').map(encodeURIComponent).join('/');\nconst url = `https://api.github.com/repos/${fileData.repoOwner}/${fileData.repoName}/contents/${filePath}`;\n\nconst result = await httpsRequest(url, {\n  method: 'PUT',\n  headers: {\n    'Accept': 'application/vnd.github+json',\n    'X-GitHub-Api-Version': '2022-11-28',\n    'Content-Type': 'application/json',\n    'Authorization': `Bearer ${process.env.GITHUB_TOKEN}`,\n    'Content-Length': Buffer.byteLength(fileData.commitBodyJson)\n  }\n}, fileData.commitBodyJson);\n\nif (result.status < 200 || result.status >= 300) {\n  throw new Error(`파일 커밋 실패 (${result.status}): ${JSON.stringify(result.body).slice(0, 300)}`);\n}\nreturn [{ json: { path: fileData.filePath, sha: result.body.content?.sha } }];"
      },
      "id": "commit-file-code",
      "name": "GitHub: 파일 커밋",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst issueInfo = $('Issue 정보 추출').first().json;\n\nfunction githubRequest(method, path, body) {\n  return new Promise((resolve) => {\n    const bodyStr = body ? JSON.stringify(body) : null;\n    const req = https.request({\n      hostname: 'api.github.com',\n      path,\n      method,\n      headers: {\n        'Accept': 'application/vnd.github+json',\n        'X-GitHub-Api-Version': '2022-11-28',\n        'Authorization': `Bearer ${process.env.GITHUB_TOKEN}`,\n        'User-Agent': 'n8n',\n        ...(bodyStr ? { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } : {})\n      }\n    }, res => { res.resume(); res.on('end', () => resolve(res.statusCode)); });\n    req.on('error', () => resolve(0));\n    if (bodyStr) req.write(bodyStr);\n    req.end();\n  });\n}\n\nconst { repoOwner, repoName, issueNumber } = issueInfo;\nconst base = `/repos/${repoOwner}/${repoName}/issues/${issueNumber}`;\n\n// 완료 표시 라벨 추가 후 처리 중 라벨 제거\nawait githubRequest('POST', `${base}/labels`, { labels: ['ai-pr-created'] });\nawait githubRequest('DELETE', `${base}/labels/ai-implementing`);\nawait githubRequest('DELETE', `${base}/labels/ai-implement`);\n\nreturn [{ json: { ...$input.first().json, labelsRemoved: true } }];"
      },
      "id": "remove-labels",
      "name": "GitHub: 라벨 정리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        300
      ]
    }
  ],
  "connections": {
    "Schedule (5분마다)": {
      "main": [
        [
          {
            "node": "GitHub: ai-implement 이슈 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implement 이슈 조회": {
      "main": [
        [
          {
            "node": "Issue 정보 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue 정보 추출": {
      "main": [
        [
          {
            "node": "IF: 처리할 이슈 있는지 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: 처리할 이슈 있는지 확인": {
      "main": [
        [
          {
            "node": "GitHub: ai-implementing 라벨 확인/생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implementing 라벨 추가": {
      "main": [
        [
          {
            "node": "GitHub: ScrollManager.ts 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ScrollManager.ts 읽기": {
      "main": [
        [
          {
            "node": "GitHub: index.ts 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: index.ts 읽기": {
      "main": [
        [
          {
            "node": "파일 내용 디코딩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 내용 디코딩": {
      "main": [
        [
          {
            "node": "Gemini: 코드 구현",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: 코드 구현": {
      "main": [
        [
          {
            "node": "Tool Use 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Use 결과 파싱": {
      "main": [
        [
          {
            "node": "GitHub: main SHA 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: main SHA 조회": {
      "main": [
        [
          {
            "node": "GitHub: 브랜치 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: 브랜치 생성": {
      "main": [
        [
          {
            "node": "파일 목록 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 목록 분리": {
      "main": [
        [
          {
            "node": "GitHub: 파일 SHA 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Draft PR 생성": {
      "main": [
        [
          {
            "node": "GitHub: 라벨 정리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implementing 라벨 확인/생성": {
      "main": [
        [
          {
            "node": "GitHub: ai-implementing 라벨 추가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: 파일 SHA 조회": {
      "main": [
        [
          {
            "node": "파일 SHA 병합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 SHA 병합": {
      "main": [
        [
          {
            "node": "GitHub: 파일 커밋",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: 파일 커밋": {
      "main": [
        [
          {
            "node": "GitHub: Draft PR 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: 라벨 정리": {
      "main": [
        [
          {
            "node": "Discord: PR 생성 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "jump-section"
    },
    {
      "name": "development"
    }
  ]
}