.n8n/workflows/development-pipeline.json
{
  "name": "jump-section: Development Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule (5분마다)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/bae080311/jump-section/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "labels",
              "value": "ai-implement"
            },
            {
              "name": "state",
              "value": "open"
            },
            {
              "name": "per_page",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "get-labeled-issues",
      "name": "GitHub: ai-implement 이슈 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const issues = $input.all().map(i => i.json);\n\nconst pending = issues.filter(issue => {\n  const labelNames = (issue.labels || []).map(l => l.name);\n  // ai-pr-created: 완료된 이슈 → 건너뜀\n  // ai-implementing: 현재 다른 실행이 처리 중 → 건너뜀 (중복 실행 방지)\n  // 두 라벨 모두 없음: 새 이슈 → 처리\n  return !labelNames.includes('ai-pr-created') && !labelNames.includes('ai-implementing');\n});\n\nif (pending.length === 0) {\n  return [{ json: { hasIssue: false } }];\n}\nconst issue = pending[0];\nreturn [{\n  json: {\n    hasIssue: true,\n    issueNumber: issue.number,\n    issueTitle: issue.title,\n    issueBody: issue.body || '(설명 없음)',\n    issueUrl: issue.html_url,\n    repoOwner: 'bae080311',\n    repoName: 'jump-section'\n  }\n}];"
      },
      "id": "extract-issue-info",
      "name": "Issue 정보 추출",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "has-issue",
              "leftValue": "={{ $json.hasIssue }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ]
        }
      },
      "id": "check-has-issue",
      "name": "IF: 처리할 이슈 있는지 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/issues/{{ $('Issue 정보 추출').first().json.issueNumber }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"labels\": [\"ai-implementing\"] }",
        "options": {}
      },
      "id": "mark-implementing",
      "name": "GitHub: ai-implementing 라벨 추가",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/contents/packages/core/src/ScrollManager.ts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-scroll-manager",
      "name": "GitHub: ScrollManager.ts 읽기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/contents/packages/core/src/index.ts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-index-ts",
      "name": "GitHub: index.ts 읽기",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const issueInfo = $('Issue 정보 추출').first().json;\nconst smFile = $('GitHub: ScrollManager.ts 읽기').first().json;\nconst indexFile = $('GitHub: index.ts 읽기').first().json;\n\nconst smContent = Buffer.from(smFile.content.replace(/\\n/g, ''), 'base64').toString('utf8');\nconst indexContent = Buffer.from(indexFile.content.replace(/\\n/g, ''), 'base64').toString('utf8');\n\n// 입력 크기 제한: 너무 크면 출력 토큰 부족으로 function call이 잘림\nconst smTruncated = smContent.length > 8000 ? smContent.slice(0, 8000) + '\\n// ... (truncated)' : smContent;\n\nconst userPrompt = `## Issue #${issueInfo.issueNumber}: ${issueInfo.issueTitle}\\n\\n${issueInfo.issueBody}\\n\\n---\\n\\n### packages/core/src/ScrollManager.ts\\n\\`\\`\\`typescript\\n${smTruncated}\\n\\`\\`\\`\\n\\n### packages/core/src/index.ts\\n\\`\\`\\`typescript\\n${indexContent}\\n\\`\\`\\`\\n\\nwrite_file 함수를 반드시 호출해 구현하세요. 테스트 파일도 포함하세요.`;\n\nconst geminiPayload = {\n  system_instruction: {\n    parts: [{ text: 'TypeScript 전문 개발자입니다. jump-section 라이브러리 신기능을 구현합니다.\\nPrettier(2sp, 세미콜론, 싱글쿼트, printWidth 100), strict 타입, Public API 하위 호환 유지.\\n반드시 write_file 함수만 사용해 결과를 제출하세요. 텍스트로 코드를 출력하지 마세요.' }]\n  },\n  contents: [{ role: 'user', parts: [{ text: userPrompt }] }],\n  tools: [{\n    functionDeclarations: [{\n      name: 'write_file',\n      description: '수정하거나 새로 생성할 파일의 전체 내용을 제출합니다.',\n      parameters: {\n        type: 'OBJECT',\n        properties: {\n          path: { type: 'STRING', description: '파일 경로' },\n          content: { type: 'STRING', description: '파일 전체 내용' },\n          description: { type: 'STRING', description: '변경 설명' }\n        },\n        required: ['path', 'content', 'description']\n      }\n    }]\n  }],\n  toolConfig: { functionCallingConfig: { mode: 'ANY', allowedFunctionNames: ['write_file'] } },\n  generationConfig: {\n    maxOutputTokens: 16384,\n    thinkingConfig: { thinkingBudget: 0 }\n  }\n};\n\nreturn [{\n  json: {\n    ...issueInfo,\n    scrollManagerSha: smFile.sha,\n    indexSha: indexFile.sha,\n    geminiPayload\n  }\n}];"
      },
      "id": "decode-files",
      "name": "파일 내용 디코딩",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key={{ $env.GEMINI_API_KEY }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiPayload }}",
        "options": {}
      },
      "id": "gemini-implement",
      "name": "Gemini: 코드 구현",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1780,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 30000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst issueInfo = $('파일 내용 디코딩').first().json;\n\n// 응답 구조 검증\nif (!response.candidates || response.candidates.length === 0) {\n  throw new Error('Gemini candidates 없음. 전체 응답: ' + JSON.stringify(response).slice(0, 500));\n}\n\nconst candidate = response.candidates[0];\nconst finishReason = candidate.finishReason;\n\nif (!candidate.content) {\n  throw new Error(`Gemini content 없음. finishReason: ${finishReason}. 전체 응답: ` + JSON.stringify(candidate).slice(0, 500));\n}\n\nconst parts = candidate.content.parts;\nconst functionCalls = parts.filter(p => p.functionCall && p.functionCall.name === 'write_file');\nif (functionCalls.length === 0) {\n  const textParts = parts.filter(p => p.text).map(p => p.text).join(' ');\n  throw new Error(`write_file 함수 미사용. finishReason: ${finishReason}. 텍스트: ${textParts.slice(0, 300)}`);\n}\n\nconst files = functionCalls.map(p => ({\n  path: p.functionCall.args.path,\n  content: p.functionCall.args.content,\n  description: p.functionCall.args.description\n}));\n\nconst safeName = issueInfo.issueTitle\n  .toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/^-+|-+$/g, '').slice(0, 40);\nconst branchName = `ai/issue-${issueInfo.issueNumber}-${safeName}`;\n\nreturn [{\n  json: {\n    files,\n    branchName,\n    issueNumber: issueInfo.issueNumber,\n    issueTitle: issueInfo.issueTitle,\n    issueUrl: issueInfo.issueUrl,\n    repoOwner: issueInfo.repoOwner,\n    repoName: issueInfo.repoName,\n    scrollManagerSha: issueInfo.scrollManagerSha,\n    indexSha: issueInfo.indexSha,\n    filesSummary: files.map(f => `• \\`${f.path}\\`: ${f.description}`).join('\\n')\n  }\n}];"
      },
      "id": "parse-tool-use",
      "name": "Tool Use 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/git/ref/heads/main",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-main-sha",
      "name": "GitHub: main SHA 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2220,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Tool Use 결과 파싱').first().json.repoOwner }}/{{ $('Tool Use 결과 파싱').first().json.repoName }}/git/refs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ref\": \"refs/heads/{{ $('Tool Use 결과 파싱').first().json.branchName }}\",\n  \"sha\": \"{{ $json.object.sha }}\"\n}",
        "options": {}
      },
      "id": "create-branch",
      "name": "GitHub: 브랜치 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const branchRes = $input.item.json;\nconst data = $('Tool Use 결과 파싱').first().json;\nconst mainSha = $('GitHub: main SHA 조회').first().json;\n\n// 브랜치 생성 성공이면 object.sha, 실패(이미 존재)면 main SHA 사용\nconst headCommitSha = (branchRes.object && branchRes.object.sha)\n  ? branchRes.object.sha\n  : mainSha.object.sha;\n\nconst tree = data.files.map(file => ({\n  path: (file.path || '').trim(),\n  mode: '100644',\n  type: 'blob',\n  content: (file.content || '').replace(/\\r/g, '\\n')\n}));\n\nconst commitMsg = `feat: implement issue #${data.issueNumber} - ${data.issueTitle.slice(0, 60)}`;\n\nreturn [{ json: {\n  repoOwner: data.repoOwner,\n  repoName: data.repoName,\n  branchName: data.branchName,\n  commitMessage: commitMsg,\n  tree,\n  headCommitSha,\n  issueNumber: data.issueNumber,\n  issueTitle: data.issueTitle,\n  issueUrl: data.issueUrl,\n  filesSummary: data.filesSummary\n} }];"
      },
      "id": "prepare-tree-payload",
      "name": "트리 페이로드 준비",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $json.repoOwner }}/{{ $json.repoName }}/git/commits/{{ $json.headCommitSha }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "get-head-commit",
      "name": "GitHub: HEAD 커밋 조회",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('트리 페이로드 준비').first().json.repoOwner }}/{{ $('트리 페이로드 준비').first().json.repoName }}/git/trees",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { base_tree: $json.tree.sha, tree: $('트리 페이로드 준비').first().json.tree } }}",
        "options": {}
      },
      "id": "create-tree",
      "name": "GitHub: 트리 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('트리 페이로드 준비').first().json.repoOwner }}/{{ $('트리 페이로드 준비').first().json.repoName }}/git/commits",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { message: $('트리 페이로드 준비').first().json.commitMessage, tree: $json.sha, parents: [$('트리 페이로드 준비').first().json.headCommitSha] } }}",
        "options": {}
      },
      "id": "create-commit",
      "name": "GitHub: 커밋 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3320,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/{{ $('트리 페이로드 준비').first().json.repoOwner }}/{{ $('트리 페이로드 준비').first().json.repoName }}/git/refs/heads/{{ $('트리 페이로드 준비').first().json.branchName }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { sha: $json.sha, force: false } }}",
        "options": {}
      },
      "id": "update-ref",
      "name": "GitHub: ref 업데이트",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Tool Use 결과 파싱').first().json.repoOwner }}/{{ $('Tool Use 결과 파싱').first().json.repoName }}/pulls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { title: '[AI] feat: implement #' + $('Tool Use 결과 파싱').first().json.issueNumber + ' ' + $('Tool Use 결과 파싱').first().json.issueTitle, body: '## Summary\\n\\nCloses #' + $('Tool Use 결과 파싱').first().json.issueNumber + '\\n\\nAI가 자동 생성한 구현 PR입니다. **반드시 사람이 리뷰 후 머지하세요.**\\n\\n## Files Changed\\n\\n' + $('Tool Use 결과 파싱').first().json.filesSummary + '\\n\\n## Testing\\n\\n- [ ] pnpm test 통과 확인\\n- [ ] 새 테스트 케이스 검토\\n- [ ] 수동 테스트\\n\\n---\\n\\n🤖 Generated by jump-section AI Pipeline', head: $('Tool Use 결과 파싱').first().json.branchName, base: 'main', draft: true } }}",
        "options": {}
      },
      "id": "create-pr",
      "name": "GitHub: Draft PR 생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { embeds: [{ title: '🤖 AI PR 생성됨', description: 'Issue [#' + $('Tool Use 결과 파싱').first().json.issueNumber + '](' + $('Tool Use 결과 파싱').first().json.issueUrl + ') 구현 완료', color: 3066993, fields: [{ name: 'PR', value: '[' + $('GitHub: Draft PR 생성').first().json.title + '](' + $('GitHub: Draft PR 생성').first().json.html_url + ')', inline: false }, { name: '브랜치', value: '`' + $('Tool Use 결과 파싱').first().json.branchName + '`', inline: true }, { name: '변경 내용', value: $('Tool Use 결과 파싱').first().json.filesSummary, inline: false }], footer: { text: 'jump-section AI Pipeline • Gemini • Draft PR' }, timestamp: new Date().toISOString() }] } }}",
        "options": {}
      },
      "id": "discord-dev",
      "name": "Discord: PR 생성 알림",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"name\": \"ai-implementing\", \"color\": \"FBCA04\", \"description\": \"AI가 현재 처리 중인 이슈\" }",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "id": "ensure-label",
      "name": "GitHub: ai-implementing 라벨 확인/생성",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/issues/{{ $('Issue 정보 추출').first().json.issueNumber }}/labels",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"labels\": [\"ai-pr-created\"] }",
        "options": {}
      },
      "id": "add-pr-created-label",
      "name": "GitHub: ai-pr-created 라벨 추가",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/issues/{{ $('Issue 정보 추출').first().json.issueNumber }}/labels/ai-implementing",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "remove-implementing-label",
      "name": "GitHub: ai-implementing 라벨 제거",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3980,
        300
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.github.com/repos/{{ $('Issue 정보 추출').first().json.repoOwner }}/{{ $('Issue 정보 추출').first().json.repoName }}/issues/{{ $('Issue 정보 추출').first().json.issueNumber }}/labels/ai-implement",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" },
            { "name": "Authorization", "value": "=Bearer {{ $env.GITHUB_TOKEN }}" }
          ]
        },
        "options": {}
      },
      "id": "remove-implement-label",
      "name": "GitHub: ai-implement 라벨 제거",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4200,
        300
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Schedule (5분마다)": {
      "main": [
        [
          {
            "node": "GitHub: ai-implement 이슈 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implement 이슈 조회": {
      "main": [
        [
          {
            "node": "Issue 정보 추출",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Issue 정보 추출": {
      "main": [
        [
          {
            "node": "IF: 처리할 이슈 있는지 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: 처리할 이슈 있는지 확인": {
      "main": [
        [
          {
            "node": "GitHub: ai-implementing 라벨 확인/생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implementing 라벨 추가": {
      "main": [
        [
          {
            "node": "GitHub: ScrollManager.ts 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ScrollManager.ts 읽기": {
      "main": [
        [
          {
            "node": "GitHub: index.ts 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: index.ts 읽기": {
      "main": [
        [
          {
            "node": "파일 내용 디코딩",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "파일 내용 디코딩": {
      "main": [
        [
          {
            "node": "Gemini: 코드 구현",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: 코드 구현": {
      "main": [
        [
          {
            "node": "Tool Use 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Use 결과 파싱": {
      "main": [
        [
          {
            "node": "GitHub: main SHA 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: main SHA 조회": {
      "main": [
        [
          {
            "node": "GitHub: 브랜치 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: 브랜치 생성": {
      "main": [
        [
          {
            "node": "트리 페이로드 준비",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "트리 페이로드 준비": {
      "main": [
        [
          {
            "node": "GitHub: HEAD 커밋 조회",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: HEAD 커밋 조회": {
      "main": [
        [
          {
            "node": "GitHub: 트리 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: 트리 생성": {
      "main": [
        [
          {
            "node": "GitHub: 커밋 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: 커밋 생성": {
      "main": [
        [
          {
            "node": "GitHub: ref 업데이트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ref 업데이트": {
      "main": [
        [
          {
            "node": "GitHub: Draft PR 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: Draft PR 생성": {
      "main": [
        [
          {
            "node": "GitHub: ai-pr-created 라벨 추가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implementing 라벨 확인/생성": {
      "main": [
        [
          {
            "node": "GitHub: ai-implementing 라벨 추가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-pr-created 라벨 추가": {
      "main": [
        [
          {
            "node": "GitHub: ai-implementing 라벨 제거",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implementing 라벨 제거": {
      "main": [
        [
          {
            "node": "GitHub: ai-implement 라벨 제거",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: ai-implement 라벨 제거": {
      "main": [
        [
          {
            "node": "Discord: PR 생성 알림",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "jump-section"
    },
    {
      "name": "development"
    }
  ]
}